<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Sair</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1 style="text-align:center;">Você saiu do sistema</h1>
  <p style="text-align:center;"><a href="/login">Voltar para o Login</a></p>
</body>
</html>