<!DOCTYPE html>
<html>

<head>
    <title>Erro 404 - Não encontrado</title>
   

</head>

<body>
    
    <div style="display: flex; flex-direction: column; align-items: center; ">

        
        <h1>Página não encontrada :(</h1>
        <p class="mt-4 mb-5">A página que você está procurando não existe ou foi movida.</p>
        <a href="/paginaInicial" class="btn btn-light fw-semibold rounded-pill px-4 py-2 custom-btn">
            Voltar para a página inicial

        </a>
        </p>
    </div>
</body>

</html>